/* #region header */
.header-page {

    background-color: #fbfbfb;

  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1240px;
  margin: 0 auto;
  padding: 4px 30px;
}
.header-page .container{
  display: flex;
  align-items: center;
  
}

.header-nav {
  display: flex;
  gap: 375px;
  align-items: center;
}
.logo-header {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.nav-list {
  display: flex;
  gap: 4px;
}
.nav-list-item {
}
.nav-list-link {
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  padding: 15px 25px 15px 24px;
  display: block;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}


.nav-list-link:hover,
.nav-list-link:focus{
  background: #1b414b;
}

.header-social-list {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
.social-list-item {
  width: 24px;
  height: 24px;
}
.social-link {
  fill: #1b414b;
}

.social-link:hover, 
.social-link:focus{
  fill: #062730;
}

/* #endregion header */